@font-face {
  font-family: 'AlibabaSans-Medium';
  src: url('@/style/scss/font/Alibaba-PuHuiTi-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AlibabaSans-Regular';
  src: url('@/style/scss/font/Alibaba-PuHuiTi-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}