@use 'sass:math';
@use 'sass:map';

// 颜色
$colors: () !default;
$colors: map.merge(
  (
    'primary': #4837dd
  ),
  $colors
);

// 主题色
$color-primary: map.get($colors, 'primary') !default;

// 字体颜色
$text-color: () !default;
$text-color: map.merge(
  (
    'primary': #000000,
    'regular': #606266,
    'secondary': #909399,
    'placeholder': #a8abb2,
    'disabled': #c0c4cc
  ),
  $text-color
);